<%= render "layouts/header"%>
<%#= render "layouts/side_bar"%>
<table>
  <tr>
    <td>
<div id = "to_be_changed" class="right-margin">
    <%= render "layouts/side_bar"%>

<% count = 0 %>
<%@articles.each do |article|%>
<%#byebug.pry%>
  <%if count == 3 || count == 0%>
  <%count = 0%>
  <div class=" row3">
    <section class="hoc container clear split"> 
      <!-- ################################################################################################ -->
      
      <div class="group latest">
      <%if  count==0 %>
      <%count += 1%>
        <article class="one_third  first">
          <%if article.image.present? %>
            <a href="#"><%= image_tag article.image.url %></a>
          <%else%>
            <a href="#" class="no-image"></a>
          <%end%>
            
          
          <div class="txtwrap">
            <h4 class="heading"><%= link_to article.title, article_path(article.id) %></h4>
            <ul class="nospace meta">
              <li><i class="fa fa-calendar"></i><%= article.created_at.strftime("%e %b %Y") %></li>
              <li><i class="fa fa-user"></i> <%= article.author_name %></li>
              <li><i class="fa fa-comments"></i> <%= link_to article_path(article.id) do %><%= article.comments.count %> Comments<%end%></li>
            </ul>
            <%if article.image.present? %>
            <p><%= article.description[0..100]%>&hellip;</p>
            <%else%>
            <p><%= article.description[0..550] %>&hellip;</p>
            <%end%>
            <footer><%= link_to article_path(article.id) do %>Read More &raquo;<%end%></footer>
          </div>
        </article>
        <%end%>
      <%else %>
      <%count += 1%>
        <article class="one_third">
          <%if article.image.present? %>
            <a href="#"><%= image_tag article.image.url %></a>
          <%else%>
            <a href="#" class="no-image"></a>
          <%end%>
            
         
          <div class="txtwrap">
            <h4 class="heading"><%= link_to article.title[0..60], article_path(article.id) %></h4>
            <ul class="nospace meta">
              <li><i class="fa fa-calendar"></i><%= article.created_at.strftime("%e %b %Y") %></li>
              <li><i class="fa fa-user"></i> <%= article.author_name %></li>
              <li><i class="fa fa-comments"></i> <a href="#"><%= article.comments.count %> Comments</a></li>
            </ul>
            <p><%= article.description[0..100] %>&hellip;</p>
            <footer><%= link_to article_path(article.id) do %>Read More &raquo;<%end%></footer>
          </div>
        </article>
      <%end%>
      <%if count==3 || count==0%>
      </div>
      <!-- ################################################################################################ --> 
    </section>
  </div>
  <%end%>
<%end%>
<div class="bottom"><%= paginate @articles%></div>
</div></td>
  </tr></table>
    <%= render "layouts/footer"%>



<script type="text/javascript">
  $(document).ready(function(){
    // var offset = $("#navbar").offset().top + $("#navbar").height();
    // $('.right-margin').offset({top:offset});
    // $('right-margin').css({'display' : 'block'});
    var div = document.getElementById("remove_it");
    if( $(this).width() < 700 ){
      div.classList.remove("my_side_bar");
      $("#remove_it").offset({top: $(".right-margin").offset().top + $(".right-margin").height()});
    }
  });
  $(window).resize(function() {
    var div = document.getElementById("remove_it");
    if( $(this).width() < 700 ) {
        // $("#to_be_changed").classList.add("rightest-margin");
        div.classList.remove("my_side_bar");
        // $(".w3-card").classList.remove('my_side_bar');
        $("#remove_it").offset({top: $(".bottom").offset().top + $(".bottom").height()});
        div.classList.add("padded-bottom");

    } else{
      div.classList.add("my_side_bar");
      div.classList.remove("padded-bottom");
      var offset = $("#navbar").offset().top + $("#navbar").height();
      $('.my_side_bar').offset({top:offset});
    }
});

</script>