<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
 <link href="assets/layout.css" rel="stylesheet" type="text/css" media="all"> 

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="top1">
    <%#= render "layouts/header"%>
    <%= yield %>
    <!-- <script type="text/javascript" src="assets/jquery.min"></script> -->
    <!-- <script type="text/javascript" src="assets/jquery.backtotop"></script> -->
    <!-- <script type="text/javascript" src="assets/jquery.mobilemenu"></script> -->
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> 
  </body>
</html>

<!-- <script type="text/javascript">
  $(document).ready(function(){
    if( $(this).width() < 700 ){
       $("#remove_it").css({'display' : 'none'});
      $("#lower_side_bar").css({'display' : 'block'});
      var end = $(".right-margin").offset().top + $(".right-margin").height();
      // $("#lower_side_bar").offset({top:end});
    }
  });
  $(window).resize(function(){
    if( $(this).width() < 700 ){
       $("#remove_it").css({'display' : 'none'});
      $("#lower_side_bar").css({'display' : 'block'});
    }
  });
</script> -->